//CARD
.description{
    text-align: justify;
  }
  .example-card {
    max-width: 400px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: black;
    display: inline-block;
  }
  
  .example-header-image-horror {
    background-image: url('https://img.wattpad.com/useravatar/kurosakiixd.256.522911.jpg');
    background-size: cover;
  }
  .example-header-image-animated {
    background-image: url('https://1.bp.blogspot.com/-28fucEbsULo/U7i5cafq-FI/AAAAAAAAOIM/LlIeAN8bixg/s280/17.png');
    background-size: cover;
  }
  .example-header-image-action {
    background-image: url('https://pbs.twimg.com/profile_images/637954581847126016/tdY0SlHs_400x400.jpg');
    background-size: cover;
  }