<form [formGroup]="loginForm" (submit)="iniciarSesion(loginForm.value)">
    <h1><strong>SIGN-IN</strong></h1>
    <mat-form-field appearance="outline">
        <mat-label>User</mat-label>
        <input matInput formControlName="user" maxlength="20">
        <mat-hint align="end">{{loginForm.value.user.length}}/20</mat-hint>
    </mat-form-field>
    <br>
    <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password" maxlength="50">
        <mat-hint align="end">{{loginForm.value.password.length}}/50</mat-hint>
    </mat-form-field>
    <br>
    <button mat-raised-button color="primary" [disabled]="loginForm.invalid">Log in</button>
   
</form>
<!-- <app-alert 
    horizontalPosition='start' 
    verticalPosition='bottom'
    mensajeSatisfaccion='Correctamente logueado'
    mensajeFallido='Incorrecto, ingrese nuevamente datos'></app-alert> -->