<section class="booth">
  <form class="booth__card" [formGroup]="loginForm" (submit)="iniciarSesion(loginForm.value)">
    <mat-icon class="booth__mark">confirmation_number</mat-icon>
    <p class="booth__eyebrow">Welcome back</p>
    <h1 class="booth__title">Sign in</h1>

    <mat-form-field appearance="outline" class="booth__field">
      <mat-label>User</mat-label>
      <input matInput formControlName="user" maxlength="20">
      <mat-hint align="end">{{loginForm.value.user.length}}/20</mat-hint>
    </mat-form-field>

    <mat-form-field appearance="outline" class="booth__field">
      <mat-label>Password</mat-label>
      <input matInput type="password" formControlName="password" maxlength="50">
      <mat-hint align="end">{{loginForm.value.password.length}}/50</mat-hint>
    </mat-form-field>

    <button mat-raised-button color="primary" class="booth__submit" [disabled]="loginForm.invalid">Log in</button>

    <p class="booth__switch">New here? <a routerLink="/signup">Get your ticket</a></p>
  </form>
</section>
