<mat-toolbar class="toolbar">
  <button mat-icon-button aria-label="Toggle menu" (click)="drawer.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <a routerLink="/" class="brand">
    <mat-icon class="brand__mark">local_movies</mat-icon>
    <span class="brand__word">MoiMovie</span>
  </a>
  <span class="spacer"></span>
</mat-toolbar>

<mat-drawer-container class="shell">
  <mat-drawer #drawer class="nav" mode="over">
    <nav class="nav__list">
      @if (!isLogged()) {
        <a routerLink="/signin" class="nav__link">
          <mat-icon>vpn_key</mat-icon> Sign in
        </a>
        <a routerLink="/signup" class="nav__link nav__link--accent">
          <mat-icon>confirmation_number</mat-icon> Sign up
        </a>
      } @else {
        <a routerLink="/allmovies" class="nav__link">
          <mat-icon>movie</mat-icon> Full catalog
        </a>
        <a routerLink="/" (click)="logout()" class="nav__link nav__link--exit">
          <mat-icon>logout</mat-icon> Log out
        </a>
      }
    </nav>
  </mat-drawer>

  <div class="content">
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>
